<header>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand logo" rel="home" href="#" title="Aguas Kapital C&uacute;cuta">
			        <img style="max-width:100px; margin-top: -7px;"
			             src="img/LOGO AKC.png">
			    </a>
				<a href="#/" class="navbar-brand titulo">Calendario Virtual AKC</a>
			</div>
		</div>
	</nav>
</header>
<section class="fondo-blanco">
	<div class="container-fluid">
		<div>
		  <div style="margin-top: 50px;">
			  <div class="row">
			    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-2" style="padding-right: 0px; padding-left: 0px;" ng-controller="ImagenUsuarioController">
			    	<img src="img/{{datos.mes}}/1.jpg" alt="imagen" class="img-responsive imagen">
			    	<div class="caja-externa" style="background-color:{{datos.colorMensaje}}">
				    	<div class="caja-mensaje">
				    		{{datos.mensaje}}
				    		<div class="temas">
				    			{{datos.tema}}
				    		</div>
				    	</div>	    	
			    	</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 calendario" ng-controller="CalendarioController as vm">
				  

				  <div class="row">
					  <div class="col-md-3 text-center caja-flechas">
						  <div class="btn-group">

							  <button
									  class="btn btn-sm btn-primary "
									  mwl-date-modifier
									  date="vm.calendarDay"
									  decrement="vm.calendarView">
								  <
							  </button>
							  <!--<button
									  class="btn btn-sm btn-default"
									  mwl-date-modifier
									  date="vm.calendarDay"
									  set-to-today>
								  Hoy
							  </button>-->
							  <button
									  class="btn btn-sm btn-primary"
									  mwl-date-modifier
									  date="vm.calendarDay"
									  increment="vm.calendarView">
								  >
							  </button>
						  </div>
					  </div>
						<div class="col-md-5 text-center">
							<h2 class="text-center titulo-fecha">{{ vm.calendarTitle }}</h2>
						</div>
					  <div class="col-md-4 text-center caja-mes-semana-dia">
					  	<label class="btn btn-sm btn-mes-semana-dia btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Mes</label>
					  	<label class="btn btn-sm btn-primary btn-mes-semana-dia" ng-model="vm.calendarView" uib-btn-radio="'week'">Semana</label>
					  	<label class="btn btn-sm btn-primary btn-mes-semana-dia" ng-model="vm.calendarView" uib-btn-radio="'day'">Día</label>
						  <!--<div class="btn-group">
							  <label class="btn btn-sm btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Año</label>
							  <label class="btn btn-sm btn-mes-semana-dia btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Mes</label>
							  <label class="btn btn-sm btn-primary btn-mes-semana-dia" ng-model="vm.calendarView" uib-btn-radio="'week'">Semana</label>
							  <label class="btn btn-sm btn-primary btn-mes-semana-dia" ng-model="vm.calendarView" uib-btn-radio="'day'">Día</label
						  </div>-->
					  </div>

				  </div>

				  <br>
				  <mwl-calendar
						  view="vm.calendarView"
						  current-day="vm.calendarDay"
						  events="vm.events"
						  view-title="vm.calendarTitle"
						  cssClass: 'a-css-class-name'
						  on-event-click="vm.eventClicked(calendarEvent)"
						  is-open='false'
						  cell-is-open="vm.isCellOpen">
				  </mwl-calendar>
				</div>
				<script type="text/ng-template" id="modalContent.html">
		            <div class="modal-header">
		              <h3 class="modal-title">Event action occurred!</h3>
		            </div>
		            <div class="modal-body">
		              <p>Action: <pre>{{ vm.action }}</pre></p>
		              <p>Event: <pre>{{ vm.event | json }}</pre></p>
		            </div>
		            <div class="modal-footer">
		              <button class="btn btn-primary" ng-click="$close()">OK</button>
		            </div>
		          </script>
				<div class="col-lg-3">
					hola
				</div>
			  </div>
			  <div class="row">
			  	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			  	</div>
			  	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 eventos">
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-film icon-uno" aria-hidden="true"></span>
			  			Evento 1
			  		</div>
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-glass icon-dos" aria-hidden="true"></span>
			  			Evento 2
			  		</div>
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-star icon-tres" aria-hidden="true"></span>
			  			Evento 3
			  		</div>
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-headphones icon-cuatro" aria-hidden="true"></span>
			  			Evento 4
			  		</div>
			  	</div>
			  </div>
		  </div>
		</div>

    </div>
</section>
<footer>
	
</footer>

