<header>
	<div class="banner">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<img src="img/banner/IMAGENDERECHA.png" alt="" >
			</div>
			<div class="col-lg-2 col-md-2">
				<img src="img/banner/LOGOEMPRESA.png" alt="">
			</div>
			<div class="col-lg-2 col-md-2">
				<img src="img/banner/10AÑOS.png" alt="">
			</div>
			<div class="col-lg-4 col-md-4">
				<img src="img/banner/ORGULLOSAMENTE.png" alt="">
			</div>
			<div class="col-lg-1 col-md-1">
				<img src="img/banner/LOGOCALIDAD.png" alt="">
			</div>
		</div>
	</div>
	<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand logo" rel="home" href="#" title="Aguas Kapital C&uacute;cuta">
			        <img style="max-width:100px; margin-top: -7px;"
			             src="img/LOGO AKC.png">
			    </a>
				<a href="#/" class="navbar-brand titulo">Calendario Virtual AKC</a>
			</div>
		</div>
	</nav>-->
</header>
<section class="fondo-blanco">
	<div class="container-fluid">
		<div>
		  <div>
			  <div class="row">
			    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-2" style="padding-right: 0px; padding-left: 0px;" ng-controller="ImagenUsuarioController">
			    <div class="maxIzquierda" ng-click="abrirImagenIzquierda()">
					
			    </div>
			    	<img src="img/Enero/1.jpg" alt="imagen" class="imagen-izquierda" width="200px" height="620px">
			    	<div class="caja-externa" style="background-color:{{datos.colorMensaje}}">
				    	<div class="caja-mensaje">
				    		{{datos.mensaje}}
				    		<div class="temas">
				    			{{datos.tema}}
				    		</div>
				    	</div>	    	
			    	</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 calendario" ng-controller="CalendarioController as vm">
				  <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
				</div>
			  <!--<div class="row">
			  	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			  	</div>
			  	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 eventos">
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-film icon-uno" aria-hidden="true"></span>
			  			Evento 1
			  		</div>
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-glass icon-dos" aria-hidden="true"></span>
			  			Evento 2
			  		</div>
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-star icon-tres" aria-hidden="true"></span>
			  			Evento 3
			  		</div>
			  		<div class="col-xs-3">
			  			<span class="glyphicon glyphicon-headphones icon-cuatro" aria-hidden="true"></span>
			  			Evento 4
			  		</div>
			  	</div>
			  </div>-->
		  </div>
		</div>

    </div>
</section>
<footer>
	
</footer>

