<div>
    <menu-usuario></menu-usuario>
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <submenu-usuario></submenu-usuario>
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="menu-icon fa fa-calendar"></i>
                        <a href="#/usuario">Calendario Virtual AKC</a>
                    </li>
                </ul>
            </div>
            
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

<div class="footer">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
				<span class="bigger-120">
					<span class="blue bolder">Ace</span>
					Application &copy; 2013-2014
				</span>

            &nbsp; &nbsp;
				<span class="action-buttons">
					<a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

					<a href="#">
                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                    </a>

					<a href="#">
                        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                    </a>
				</span>
        </div>

        <!-- /section:basics/footer -->
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->