<span ng-controller="FotografiasController">
	<div class="form-group col-sm-12 col-lg-12 header blue smaller lighter">
	    <label for="tipo">Tipo de Imagen</label>
	    <form action="">
	      <select ng-model="opcion" ng-options="opcion.value as opcion.opcion for opcion in opciones">
	      	<option value="">Seleccione un Tipo de Imagen</option>
	      </select>
	     </form>
	</div>
	<span ng-if="opcion == 1">
		<nueva-fotografia></nueva-fotografia>
	</span>
	<span ng-if="opcion == 2">
		<nuevo-icono></nuevo-icono>
	</span>
	<span ng-if="opcion == 3">
		<nueva-obra></nueva-obra>
	</span>
</span>