<div class="form-group col-sm-12 col-lg-12 header blue smaller lighter">
    <label for="tipo">Tipo de Imagen</label>
    <form action="">
      <select ng-model="opcion" ng-options="opcion.opcion for opcion in opciones track by opcion.select">
      	<option value="">Seleccione un Tipo de Imagen</option>
      </select>
     </form>
</div>
<span ng-if="opcion.select == 0">
	<nueva-imagen></nueva-imagen>
</span>
<span ng-if="opcion.select == 1">
	<nuevo-icono></nuevo-icono>
</span>
<span ng-if="opcion.select == 2">
	<nueva-obra></nueva-obra>
</span>