<form name="form">
	<div class="modal-header">
	  <h3 class="modal-title">{{ vm.dia }}</h3>
	</div>
	<div class="modal-body">
		<span ng-if="vm.eventos.length > 0">
			<span ng-repeat="evento in vm.eventos track by $index">
				<ul>
					<li>{{evento.nombre}} (Hora Inicio: {{evento.horaInicio}}, Hora Fin: {{evento.horaFin}})</li>
				</ul>
			</span>
			<hr/>
		</span>
		<div class="row">
			<div class="col-sm-12">
				<h3>Nuevo Evento</h3>
				<div class="form-group col-sm-12 col-sm-12 col-lg-12 blue">
					<label for="nombre">Nombre de Evento</label>
					<input type="text" class="form-control"  placeholder="Introduce el nombre del Evento"
						   id="nombre" ng-model="evento.nombre" required/>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="!evento.nombre" ng-click="guardarEvento(evento)">Guardar</button>
	  <button class="btn btn-danger" ng-click="$close()">Cerrar</button>
	</div>
</form>