<div class="col-sm-12" ng-controller="FotografiaAnoMesController">
	<span ng-if="bandera == false">
        <small><em>Construyendo Vista</em></small>
            <uib-progressbar class="progress-striped active" value="100" type="info">Cargando...</uib-progressbar>
    </span>
    <span ng-if="bandera == true">
		<div class="row">
			<div class="col-lg-12">
				<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title smaller">{{anho}}-{{mes}}</h4>
					</div>
					<div class="widget-body">
						<div class="row">
							<span ng-repeat="fotografia in vectorFotografias track by $index">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
									<div class="widget-box">
										<div class="widget-header widget-header-flat titulo-caja">
											<h5 class="widget-title smaller">{{fotografia.nombre}}</h5>
											<div class="widget-toolbar">
												<label>
													<a ng-href="#/admin/fotografia/vista/{{fotografia.id}}" title="Ver Detalle"><i class="menu-icon fa fa-eye white"></i></a>
												</label>
											</div>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<dl id="dt-list-1">
													<dt>Tema</dt>
													<dd>{{fotografia.tema}}</dd>
													<dt>Mensaje</dt>
													<dd>{{fotografia.mensaje}}</dd>
												</dl>
											</div>
										</div>
									</div>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</span>
</div>