<div class="col-sm-12" ng-controller="EventoListaController">
	<span ng-if="bandera == false">
    	<small><em>Construyendo Vista</em></small>
        	<uib-progressbar class="progress-striped active" value="100" type="info">Cargando...</uib-progressbar>
	</span>
	<span ng-if="bandera == true">
		<span ng-repeat="opcion in vector track by $index">
			<div class="row">
				<div class="col-lg-12">
					<div class="widget-box">
						<div class="widget-header widget-header-flat">
							<h4 class="widget-title smaller">{{opcion.ANHO}}</h4>
						</div>
						<div class="widget-body">
							<div class="row">
								<span ng-repeat="mes in opcion.MESES" ng-if="mes.cant != 0">
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
										<div class="widget-box">
											<a href="#/admin/evento/{{opcion.ANHO}}-{{vecMeses[mes.MES-1]}}">
												<div class="widget-header widget-header-flat titulo-caja">
													<h5 class="widget-title smaller">{{vecMeses[mes.MES-1]}}</h5>
												</div>
											</a>
											<div class="widget-body">
												<div class="widget-main">
													<span class="badge badge-grey">{{mes.CANTIDAD}}</span>
													Eventos
												</div>
											</div>
										</div>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</span>
	</span>
</div>